# Dependencies
node_modules/
package-lock.json
yarn.lock

# Environment variables
.env
.env.local
.env*.local

# Vercel
.vercel

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
my_logs/

# Documentación interna SINODE
docs-sinode-team/

# Build
dist/
build/
.next/

.vercel
